* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.add-book {
 

    border-radius: 12px;
    border: none;
    
    font-size: 0.7em;
    font-weight: bold;

    text-align: center;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 0 10px 0 10px;
    
    cursor: pointer;
}

table {
    border: grey 1px solid;
    padding: 5px;
    border-collapse: collapse;
    margin: auto;
}

thead {
    font-weight: bold;
    background-color: lightgray;
}

td {
    border: grey solid 1px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

tr:nth-of-type(even) {
    background-color: rgb(235, 235, 235);
}

td:nth-child(even){
    text-align: center;
    margin-left: 0;
    padding-left: 10px;
}

td button {
    border-radius: 12px;
    border: none;
    
    font-size: 1em;
    font-weight: bold;

    text-align: center;
    padding: 5px 15px 5px 15px;
    margin-left: 6px;
    margin-right: 6px;
    
    cursor: pointer;
}

.read-btn {
    background-color: lightskyblue;
}

.update-btn {
    background-color: gold
}

.delete-btn {
    background-color: orange;
}

.details-modal {
    padding: 10px;
    background-color: lightblue;
}

.modal {
    margin-top: 20px;
    background-color: lightblue;
}

footer {
    position: absolute;
    bottom: 10px;
    background-color: lightblue;
}

.hidden {
    display: none;
}
